body  {
    background-color: #D8E0BB;
}

h1  {
    color: #6B3074;
}

h3  {
    color: #7268A6;
}

p  {
    color:  #86a3c7
}

.container {
    background-color: #B6CEC7;
  
}

#python-result  {
    display: none;
}

#java-result  {
    display: none;
}

#react-result  {
    display: none;
}




